.button_div {
	/*background-color:white;*/
	margin:0 auto;
}

/********************定义JS所需静态常量 start *********************/
.button_div_BUTTON_HEIGHT
{
	height:24px;
}
.button_div_BUTTON_LEFT_WIDTH
{
	height:4px;
	line-height:2px;
}
.button_div_BUTTON_RIGHT_WIDTH
{
	height:4px;
	line-height:2px;
}
/********************定义JS所需静态常量 end ***********************/

.button_div .btn_center {
	position:relative;
	height:24px;
	margin-left:3px;
	margin-right:3px;
	overflow:hidden;
}

.button_div .btn_left_off {
	position:absolute;
	left:0px;
	top:0px;
	height:24px;
	width: 3px;
 	background:url('images/btn_normal_left.png') no-repeat right center;
} 
.button_div .btn_left_on {
	position:absolute;
	left:0px;
	top:0px;
	height:24px;
	width: 3px;
 	background:url('images/btn_press_left.png') no-repeat right center;
}
.button_div .btn_left_down {
	position:absolute;
	left:0px;
	top:0px;
	height:24px;
	width: 3px;
 	background:url('images/btn_press_left.png') no-repeat right center;
}
.button_div .btn_left_focus {
	position:absolute;
	left:0px;
	top:0px;
	height:24px;
	width: 3px;
 	background:url('images/btn_highlight_left.png') no-repeat right center;
}
.button_div .btn_left_disabled {
	position:absolute;
	left:0px;
	top:0px;
	height:24px;
	width: 3px;
 	background:url('images/btn_disable_left.png') no-repeat right center;
}

.button_div .btn_right_off {
	position:absolute;
	right:0px;
	top:0px;
	height:24px;
	width: 3px;
 	background:url('images/btn_normal_right.png') no-repeat left center;
} 
.button_div .btn_right_on {
	position:absolute;
	right:0px;
	top:0px;
	height:24px;
	width: 3px;
 	background:url('images/btn_press_right.png') no-repeat left center;
}
.button_div .btn_right_down {
	position:absolute;
	right:0px;
	top:0px;
	height:24px;
	width: 3px;
 	background:url('images/btn_press_right.png') no-repeat right center;
}
.button_div .btn_right_focus {
	position:absolute;
	right:0px;
	top:0px;
	height:24px;
	width: 3px;
 	background:url('images/btn_highlight_right.png') no-repeat right center;
}
.button_div .btn_right_disabled {
	position:absolute;
	right:0px;
	top:0px;
	height:24px;
	width: 3px;
 	background:url('images/btn_disable_right.png') no-repeat left center;
}

.button_div .btn_off {
	border-style:none;
	outline : none;
	height:24px;
 	cursor: pointer;
 	padding-top: 0px;
 	background:url('images/btn_normal_center.png') repeat-x;
 	color:#4d4d4d;
 	font-size:14px;
	font-family:"微软雅黑";
} 
.button_div .btn_on {
	border-style:none;
	outline : none;
	height:24px;
 	padding-top: 0px;
 	cursor: pointer;
 	background:url('images/btn_press_center.png') repeat-x;
 	color:#fff;
 	font-size:14px;
	font-family:"微软雅黑";
}
.button_div .btn_down {
	border-style:none;
	outline : none;
	height:24px;
 	padding-top: 0px;
 	cursor: pointer;
 	background:url('images/btn_press_center.png') repeat-x;
 	color:#4d4d4d;
 	font-size:14px;
	font-family:"微软雅黑";
}
.button_div .btn_focus {
	border-style:none;
	outline : none;
	height:24px;
 	padding-top: 0px;
 	cursor: pointer;
 	background:url('images/btn_highlight_center.png') repeat-x;
 	color:#fff;
 	font-size:14px;
	font-family:"微软雅黑";
}
.button_div .btn_disabled {
	border-style:none;
	outline : none;
	height:24px;
 	cursor: pointer;
 	padding-top: 0px;
 	background:url('images/btn_disable_center.png') repeat-x;
 	color:#777777;
 	font-size:14px;
	font-family:"微软雅黑";
}

/*blue样式*/

.blue_button_div{
	
}

.blue_button_div .btn_center {
	position:relative;
	height:24px;
	margin-left:3px;
	margin-right:3px;
	overflow:hidden;
}

.blue_button_div .btn_left_off {
	position:absolute;
	left:0px;
	top:0px;
	height:24px;
	width: 3px;
 	background:url('images/btn_highlight_left.png') no-repeat right center;
} 
.blue_button_div .btn_left_on {
	position:absolute;
	left:0px;
	top:0px;
	height:24px;
	width: 3px;
 	background:url('images/btn_press_left.png') no-repeat right center;
}
.blue_button_div .btn_left_down {
	position:absolute;
	left:0px;
	top:0px;
	height:24px;
	width: 3px;
 	background:url('images/btn_press_left.png') no-repeat right center;
}
.blue_button_div .btn_left_focus {
	position:absolute;
	left:0px;
	top:0px;
	height:24px;
	width: 3px;
 	background:url('images/btn_highlight_left.png') no-repeat right center;
}
.blue_button_div .btn_left_disabled {
	position:absolute;
	left:0px;
	top:0px;
	height:24px;
	width: 3px;
 	background:url('images/btn_disable_left.png') no-repeat right center;
}

.blue_button_div .btn_right_off {
	position:absolute;
	right:0px;
	top:0px;
	height:24px;
	width: 3px;
 	background:url('images/btn_highlight_right.png') no-repeat left center;
} 
.blue_button_div .btn_right_on {
	position:absolute;
	right:0px;
	top:0px;
	height:24px;
	width: 3px;
 	background:url('images/btn_press_right.png') no-repeat left center;
}
.blue_button_div .btn_right_down {
	position:absolute;
	right:0px;
	top:0px;
	height:24px;
	width: 3px;
 	background:url('images/btn_press_right.png') no-repeat right center;
}
.blue_button_div .btn_right_focus {
	position:absolute;
	right:0px;
	top:0px;
	height:24px;
	width: 3px;
 	background:url('images/btn_highlight_right.png') no-repeat right center;
}
.blue_button_div .btn_right_disabled {
	position:absolute;
	right:0px;
	top:0px;
	height:24px;
	width: 3px;
 	background:url('images/btn_disable_right.png') no-repeat left center;
}

.blue_button_div .btn_off {
	border-style:none;
	outline : none;
	height:24px;
 	cursor: pointer;
 	padding-top: 0px;
 	background:url('images/btn_highlight_center.png') repeat-x;
 	color:#fff;
 	font-size:14px;
	font-family:"微软雅黑";
 	/*font-weight:bold;*/
} 
.blue_button_div .btn_on {
	border-style:none;
	outline : none;
	height:24px;
 	padding-top: 0px;
 	cursor: pointer;
 	background:url('images/btn_press_center.png') repeat-x;
 	color:#fff;
 	font-size:14px;
	font-family:"微软雅黑";
 	/*font-weight:bold;*/
}
.blue_button_div .btn_down {
	border-style:none;
	outline : none;
	height:24px;
 	padding-top: 0px;
 	cursor: pointer;
 	background:url('images/btn_press_center.png') repeat-x;
 	color:#fff;
 	font-size:14px;
	font-family:"微软雅黑";
 	/*font-weight:bold;*/
}
.blue_button_div .btn_focus {
	border-style:none;
	outline : none;
	height:24px;
 	padding-top: 0px;
 	cursor: pointer;
 	background:url('images/btn_highlight_center.png') repeat-x;
 	color:#4eb5e7;
 	font-size:14px;
	font-family:"微软雅黑";
 	/*font-weight:bold;*/
}
.blue_button_div .btn_disabled {
	border-style:none;
	outline : none;
	height:24px;
 	cursor: pointer;
 	padding-top: 0px;
 	color:#777777;
 	font-size:14px;
	font-family:"微软雅黑";
 	/*font-weight:bold;*/
}
/*toolbar样式*/
.toolbar_div_button {
	/*background-color:white;*/
	margin:0 auto;
}
.toolitem_triangle {
	background-image:url('images/xiala.png');
	background-repeat:no-repeat;
	background-position:center;
	cursor: pointer;
}
.toolbar_div_button .btn_center {
	position:relative;
	height:60px;
	overflow:hidden;
}
.toolbar_div_button .btn_off {
	border-style:none;
	outline:none;
	height:60px;
 	cursor: pointer;
 	padding-top: 0px;
 	background:#F8F8FB url('images/title_btn_nm.png') repeat-x left bottom;
 	color:#00B7EE;
 	font-size:14px;
	font-family:"微软雅黑";
} 
.triangle_blight{
	background-color:#00b7ee;
}
.triangle_on{
 	background:#cbf2fc url('images/title_btn_on.png') repeat-x left bottom;
}
.triangle_on_30{
	border-style:none;
	outline:none;
 	background-color:#cbf2fc;
 	background-image:url('images/xiala_on.png');
}
.toolbar_div_button .btn_on{
	border-style:none;
	outline:none;
	height:60px;
 	padding-top: 0px;
 	cursor: pointer;
 	background:#cbf2fc url('images/title_btn_on.png') repeat-x left bottom;
 	color:#0099e5;
 	font-size:14px;
	font-family:"微软雅黑";
}
.toolbar_div_button .btn_on_30{
	border-style:none;
	outline:none;
	height:60px;
 	padding-top: 1px;
 	cursor: pointer;
 	background:#cbf2fc;
 	border-bottom: 1px solid #808080;
 	color:#0099e5;
 	font-size:14px;
	font-family:"微软雅黑";
}
.triangle_down {
	border-style:none;
	outline:none;
	height:60px;
 	padding-top: 0px;
 	cursor: pointer;
 	background:#00b7ee url('images/xiala_down.png') no-repeat center;
 	color:#fff;
 	font-size:14px;
	font-family:"微软雅黑";
}
.triangle_up {
	background-color:#CBF2FC;
}
.toolbar_div_button .btn_down {
	border-style:none;
	outline:none;
	height:60px;
 	padding-top: 0px;
 	cursor: pointer;
 	background:#00b7ee url('images/title_btn_down.png') repeat-x left bottom;
 	color:#fff;
 	font-size:14px;
	font-family:"微软雅黑";
}
.toolbar_div_button .btn_disabled {
	border-style:none;
	outline:none;
	height:60px;
 	cursor: default;
 	padding-top: 0px;
 	color:#777777;
 	background:#F8F8FB url('images/title_btn_nm.png') repeat-x left bottom;
 	font-size:14px;
	font-family:"微软雅黑";
 	/*font-weight:bold;*/
}
